@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animation-appear {
        view-timeline: --subjectReveal block;
        animation-timeline: --subjectReveal;
      
        animation-name: appear;
        animation-range: entry 40% contain 70%;
        animation-fill-mode: both;
        animation-duration: 3ms; /* Firefox requires this to apply the animation */
      }
      
      @keyframes appear {
        from {
          opacity: 0;
          transform: translateX(-50%) scaleX(0.1);
        }
      
        to {
          opacity: 1;
          transform: translateX(0) scaleX(1);
        }
      }
  }